.card {
    height: 400px;
    width: 250px;
    font-size: 4rem;
    text-align: center;
    perspective: 1000px;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cover, .front {
    position: absolute;
    height: inherit;
    width: inherit;
    backface-visibility: hidden;
}

.cover {
    background-color: firebrick;
}

.front {
    background-color: antiquewhite;
    transform: rotateY(180deg);
}

.card:hover .card-content {
    transform: rotateY(180deg);
}