@import url(https://fonts.bunny.net/css?family=roboto:500);

:root {
  --icon-size: 30px;
  --logo-icon-size: 40px;
  --bar-icon-color: white;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2.2rem;
  background-color: #3b82f6;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  font-family: Roboto;
  letter-spacing: 1px;
}

.logo-icon {
  height: var(--logo-icon-size);
  width: var(--logo-icon-size);
}

.bar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 1.5rem;
  gap: calc(1rem - var(--logo-icon-size) + var(--icon-size));
}

.logo-icon,
.bar-icon {
  fill: var(--bar-icon-color);
}

.bar-menu-link {
  margin-top: 0.5rem;
  text-decoration: none;
}

.bar-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.bar-item {
  text-decoration: none;
}

.bar-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bar-item:visited {
  color: white;
  text-decoration: none;
}
