@import url(https://fonts.bunny.net/css?family=roboto:100,300,400,500,700,900);

:root {
  --icon-size: 1.875rem;
  --logo-icon-size: 2.5rem;
  --bar-icon-color: white;
  --search-icon-size: 2rem;
  --small-profile-size: 3rem;
  --big-profile-size: 4rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2.2rem;
  background-color: #3b82f6;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  letter-spacing: 1px;
}

.logo-icon {
  height: var(--logo-icon-size);
  width: var(--logo-icon-size);
}

.bar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 1.5rem;
  gap: calc(1rem - var(--logo-icon-size) + var(--icon-size));
}

.logo-icon,
.bar-icon {
  fill: var(--bar-icon-color);
}

.bar-menu-link {
  margin-top: 0.5rem;
  text-decoration: none;
}

.bar-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.bar-item {
  text-decoration: none;
}

.bar-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bar-item:visited {
  color: white;
  text-decoration: none;
}

.page-header {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  box-shadow: 0px 12px 20px 0px gray;
  gap: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bell-icon {
  justify-self: end;
  margin-right: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-icon,
.bell-icon {
  height: var(--search-icon-size);
  width: var(--search-icon-size);
}

input[type="search"] {
  appearance: none;
  border: none;
  border-radius: 1em;
  background-color: lightgray;
  padding: 0.3em 0.6em;
  font-size: 1rem;
  width: 100%;
}

.profile-small {
  height: var(--small-profile-size);
  width: var(--small-profile-size);
}

.profile-big {
  height: var(--big-profile-size);
  width: var(--big-profile-size);
  grid-row: 1/3;
}

.profile-small,
.profile-big {
  border-radius: 100%;
}

.greeting-msg {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: center;
}

.greeting-msg > div:nth-child(2) {
  align-self: end;
}

.greeting-msg > div:last-child {
  font-size: 1.8rem;
}

.buttons {
  grid-column: 2/4;
  display: flex;
  justify-content: space-around;
}

button {
  appearance: none;
  background-color: #2563eb;
  border: none;
  border-radius: 2em;
  padding: 0.6em 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

button:hover {
  background-color: #60a5fa;
}

button:active {
  background-color: #1d4ed8;
}

.username {
  font-size: 1.2rem;
  font-weight: 700;
}
