svg {
    transform: rotate(-90deg);
}

circle {
    fill: transparent;
}

.bg-circle {
    stroke: rgb(189, 189, 189);
}

.bar {
    stroke: rgb(29, 157, 196);
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 10px;
}

#wheel {
    position: relative;
}

#wheel::after {
    content: attr(data-progress)"%";
    width: 400px;
    height: 400px;
    position: absolute;
    text-align: center;
    top: calc(187px - 2rem);
    left: 0;
    font-size: 4rem;
}