@font-face {
  font-family: "Norse-bold";
  src: url("./Norse-Bold.otf") format("opentype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
}

.container {
  display: flex;
  height: 100svh;
  margin-inline: 250px;
}

.hero-image {
  background: 50% url(./photo-1585202900225-6d3ac20a6962.avif);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 550px;
  width: 550px;
}

.odin-logo {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: Norse-bold;
  color: white;
  font-size: 5.5rem;
  margin-top: 40%;
  padding: 10px;
}
 .odin-logo > p {
    vertical-align: middle;
    display: inline;
    margin-top: 0.2em;
}

img {
  height: 1.5em;
}

.copyright {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1em;
}

.copyright a {
    text-decoration: underline;
}

.copyright a:visited {
    color: slategray;
}

.main-section {
    background-color: rgb(245, 245, 245);
    padding-block: 10%;
}

.padding-3rem {
    padding-inline: 3rem;
}

.input-wrappers {
    background-color: white;
}

h2 {
    line-height: 1;
    margin-block: 1em;
    font-weight: 500;
}

h2 + h2 {
    margin-bottom: 2em;
}

.italic {
    font-style: italic;
}

h3 {
    font-weight: 600;
}
